<h2>Cadastrar Ingresso</h2>


<form action="/ingresso" method="post">

<div class="mb-3">
    
    <label class="form-label">Assento</label>
    <input class="form-control" type="text" name="assento">
</div>
<div class="mb-3">
    <select class="form-select" aria-label="Default select example" name="categoria">
 <!-- <option selected>Selecionar Categoria</option>-->
  <option value="Vip">Vip</option>
  <option value="Normal">Normal</option>
  </select>
</div>
<div class="mb-3">
    <label class="form-label">Preço</label>
    <input class="form-control" type="text" name="preco">
</div>

<button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
