<h2>Cadastrar Evento</h2>


<form action="/evento" method="post">

<div class="mb-3">
    <label class="form-label">Artista</label>
    <input class="form-control" type="text" name="artista">
</div>
<div class="mb-3">
    <label class="form-label">Data</label>
    <input class="form-control" type="date" name="data">
</div>
<div class="mb-3">
    <label class="form-label">Local</label>
    <input class="form-control" type="text" name="local">
</div>
<div class="mb-3">
    <label class="form-label">Quantidade de Ingressos</label>
    <input class="form-control" type="text" name="qtdIngressos">
</div>



<button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
