




<body class="gradiente">

    
    



<nav class="navbar navbar-light" style="background-color:;">
  <a href="/eventos"><button type="button" class="btn btn-light" id="botaoEvento">Eventos</button></a>
<a href="/ingressos"><button  type="button" class="btn btn-light" id="botapIngresso">Ingressos</button></a>
<a href="/usuarios"><button type="button" class="btn btn-light">Usuários</button></a>
<a href="/prevTempo"><button type="button" class="btn btn-light">Previsão do Tempo</button></a>
</nav>

<div class="text-center" id="corbg">
    <figure id="logo">
        <img src="logoIFSC-removebg.png" alt="logoIFSC" width="480" height="400" >
    </figure>
</div>
    
    
</body>