<h2>Login</h2>


<form action="/achar/email" method="post">

<div class="mb-3">
    <label class="form-label">Email</label>
    <input class="form-control" type="email" name="email">
</div>
<div class="mb-3">
    <label class="form-label">Senha</label>
    <input class="form-control" type="password" name="senha">
</div>




<button type="submit" class="btn btn-primary">Entrar</button>
<a href="/usuarios"><button class="btn btn-primary">Voltar</button></a>

</form>
