<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <script>
        
        var numEscolhido = prompt("Digite um número entre 1 e 5")
        
        if (numEscolhido ==1){
            window.open('https://findtheinvisiblecow.com')
        }
        
        
        if(numEscolhido ==2){
            window.open('http://weavesilk.com')
        }
        
         if(numEscolhido ==3){
            window.open('http://www.everydayim.com')
        }
        
         if(numEscolhido ==4){
            window.open('https://hackertyper.com')
        }
        
         if(numEscolhido ==5){
            window.open('https://popcat.click')
        }
        
    </script>
     
     
    
</body>
</html>